<ion-view view-title="首页">
	<ion-header-bar align-title="center" class="header_me">
		<div class="header_box">
			<div class="fl heb_box">
				<a ui-sref="home" class="return_page"><i class="iconfont icon-home"></i></a>
			</div>
			<div class="fr heb_box">
				<a class="user"><i class="iconfont icon-user1"></i></a>
			</div>
			<h1 class="he_tit">确认车辆信息</h1>
		</div>
	</ion-header-bar>
	<ion-content class="contentContainer">
			
	
	</ion-content>
	
	<ion-footer-bar class="footer_me">
		<div class="opera_box">
			<div class="btn_item">
				<button class="btn_me2" type="button" ng-click="scanningQR()">开始计时</button>
			</div>
			<!--<div class="btn_item">
				<button class="btn_me2 orange_btn">选择服务选择服务</button>
			</div>
			<div class="btn_item">
				<button class="btn_me2 green_btn">选择服务选</button>
			</div>-->
		</div>
	</ion-footer-bar>

</ion-view>