<ion-modal-view>
	<ion-header-bar class="header_me">
		<div class="header_box only_tit">
			<h1 class="he_tit">选择服务类型</h1>
		</div>
	</ion-header-bar>
	<ion-content class="contentContainer">
		<a class="service_item" ng-click="selectService('停车')" ng-class="{active:service=='停车'}">停车</a>
		<a class="service_item" ng-click="selectService('洗车')" ng-class="{active:service=='洗车'}">洗车</a>
		<a class="service_item" ng-click="selectService('美容')" ng-class="{active:service=='美容'}">美容</a>
		<a class="service_item" ng-click="selectService('保养')" ng-class="{active:service=='保养'}">保养</a>
	</ion-content>
	<ion-footer-bar class="footer_me">
		<!--<div class="operation_con">-->
		<div class="opera_box">
			<div class="btn_item">
				<button class="btn_me2 orange_btn" type="button" ng-click="choiceServiceModal.hide()">取 消</button>
			</div>
			<!--<div class="btn_item">
				<button class="btn_me2 orange_btn">选择服务选择服务</button>
			</div>
			<div class="btn_item">
				<button class="btn_me2 green_btn">选择服务选</button>
			</div>-->
		</div>
		<!--</div>-->
	</ion-footer-bar>
</ion-modal-view>