<ion-modal-view>
	<ion-header-bar class="header_me">
		<div class="header_box only_tit">
			<h1 class="he_tit">议价</h1>
		</div>
	</ion-header-bar>
	<ion-content class="contentContainer">
		<form>
			<div class="form_box revisePsw">
				<div class="un_box" ng-class="({focus:data.a=='nps'})">
					<span class="un_icon fl">价格</span>
					<div class="un_input"><input type="number" ng-focus="data.a='nps'" ng-model="product.price"></div>
				</div>
				<p class="form_error_info">{{productErr}}</p>
			</div>
			
			<div class="operationBtn">
				<div class="operation_box">
					<div class="btnItem">
						<a class="btn_me btn_outline" ng-click="bargainingModal.hide()">取消</a>
					</div>
					<div class="btnItem">
						<button class="btn_me" ng-click="bargaining(product)">确认</button>
					</div>
					<!--<div class="btnItem">
						<a class="btn_me btn_warning" ng-click="deleteNote(noteDetailCon.id)">删除</a>
					</div>-->
					<!--<div class="btnItem">
					<button class="outline" ng-click="">保存</button>
				</div>-->
					<!--<div class="btnItem">
					<button class="outline" ng-click="$ionicGoBack()">返回</button>
				</div>-->
				</div>
			</div>
		
		</form>
	</ion-content>
	<!--<ion-footer-bar class="footer_me">
		&lt;!&ndash;<div class="operation_con">&ndash;&gt;
		<div class="opera_box">
			<div class="btn_item">
				<button class="btn_me2 orange_btn" type="button" ng-click="choiceServiceModal.hide()">取 消</button>
			</div>
			<div class="btn_item">
				<button class="btn_me2 orange_btn">确定</button>
			</div>
			&lt;!&ndash;<div class="btn_item">
				<button class="btn_me2 green_btn">选择服务选</button>
			</div>&ndash;&gt;
		</div>
		&lt;!&ndash;</div>&ndash;&gt;
	</ion-footer-bar>-->
</ion-modal-view>